@{
    ViewData["Title"] = "Error";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_error.css" asp-append-version="true" />
}

<div class="content-wrap">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <br /><br />
    <div class="">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>