@{
    ViewData["Title"] = "Home";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_home.css" asp-append-version="true" />
}


<!-- ********** BANNER ********** -->
<div class="banner divider">
    <img src="~/img/home-banner.jpg" alt="banner image" />
</div>

<!-- ********** MAIN ********** -->
<div class="content-wrap">
    <section id="introduction">
        <p class="intro-question">
            <i>
                Looking for a present or something just for you?
                <br />
                You&#39;re in the right spot.
            </i>
        </p>
        <br />
        <h2>Welcome to my store!</h2>
        <p>
            I&#39;m presenting to you an assortment of unique handicraft.
            <br />
            Here, you can find precisely detailed quilling cards and souvenirs.
            <br />
            * Quilling is the art of rolled, shaped, and glued paper that results in creating unique 3D design. <!--The name quilling is thought to come from the origin of the art; birds' feathers, or quills, were used to coil the strips of paper around.-->
        </p>
    </section>
    <br />

    <section id="note">
        <h3>Note!</h3>
        <p>
            Presently, this website is being used for educational purpose ONLY.
            <br />
            Heads-up! I hope to get this project functioning as a real online store very soon!
        </p>
    </section>
    <br />
    <br />

    <section id="about-me">
        <h3>Hi, I&#39;m Diyana.</h3>
        <p>
            I&#39;m a web developer, studying in Software University, Sofia, Bulgaria.
            <br />
            The current website is my capstone project, which I hope to get catching on.
            <br />
            I chose the topic due to my high appreciation of DIY (do-it-yourself) stuff.
        </p>
        <br />
        <p>
            Feel free to check out <a href="https://www.linkedin.com/in/diyana-cholakova" target="_blank">my other projects</a>
            <br />
            or contact me for creating a new one!
        </p>
    </section>
</div>