@using BestArts.Services.Data.Interfaces
@using BestArts.Web.Infrastructure.Extensions

@inject IUserService userService

@{
    ViewData["Title"] = await userService.GetFullNameByEmailAsync(User.Identity?.Name!);
}

<div class="content-wrap account">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="btn-unset">Logout</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
