@model RegisterFormModel

@{
    ViewData["Title"] = "Register";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_form.css" asp-append-version="true" />
}

<div class="content-wrap register">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <section class="form-section">

        <form id="register-form" method="post">

            <fieldset>

                <legend>@ViewData["Title"]</legend>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="required"></label>
                    <input asp-for="FirstName" autocomplete="first-name" aria-required="true" placeholder="Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="required"></label>
                    <input asp-for="LastName" autocomplete="last-name" aria-required="true" placeholder="Surname" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="required"></label>
                    <input asp-for="Email" autocomplete="email" aria-required="true" placeholder="you@example.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="required"></label>
                    <input asp-for="Password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="required"></label>
                    <input asp-for="ConfirmPassword" aria-required="true" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div>
                    <button id="registerSubmit" type="submit" class="sbm-btn">Register</button>
                </div>
            </fieldset>

            <div class="login-register-switch">Already registered? Go to <a asp-area="" asp-controller="User" asp-action="Login">login</a>.</div>
        </form>

    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
