@model IEnumerable<AllCartsViewModel>

@using BestArts.Services.Data.Interfaces
@using BestArts.Web.Infrastructure.Extensions

@inject IOrderService OrderService;

@{
    ViewData["Title"] = "Basket";

    decimal totalPrice = await OrderService.GetSubtotalPriceOfAllItemsForOrderAsync(User.GetId()!);
}

@section css {
    <link rel="stylesheet" href="~/css/styles_cart.css" asp-append-version="true" />
}

<div class="content-wrap cart">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    @if (!Model.Any())
    {
        <span>
            There are no products in your basket yet.
        </span>
    }
    else
    {
        <section class="cart">
            <table>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <partial name="_CartPartial" model="@product" />
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            Total price:
                        </td>
                        <td class="product-price">
                            @($"{totalPrice:f2}") BGN
                        </td>
                        <td colspan="3">
                            <a class="checkout-btn button" asp-area="" asp-controller="Order" asp-action="Checkout">Checkout</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}