@model IEnumerable<AllCategoriesViewModel>

@using Microsoft.AspNetCore.Identity;
@using BestArts.Data.Models
@using BestArts.Services.Data.Interfaces
@using BestArts.Web.Infrastructure.Extensions


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Categories";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_categories.css" asp-append-version="true" />
}

<div class="content-wrap handmade">
    @if (User.IsAdmin())
    {
        <a class="add-btn green-btn button" asp-controller="Category" asp-action="Add">Add</a>
    }

    <h2 class="page-title divider">@ViewData["Title"]</h2>

    @if (!Model.Any())
    {
        <span>
            There are no categories available.
        </span>
    }
    else
    {
        <section class="category-list">

            @foreach (var category in Model)
            {
                <div class="category-box">
                    <div class="category-name">
                        @category.Name
                    </div>
                    <div class="category-btns">
                        @if (User != null && User.IsAdmin())
                        {
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="edit-btn green-btn button">Edit</a>
                            @*<a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="delete-btn danger-btn button">Delete</a>*@
                        }
                    </div>
                </div>
            }
        </section>
    }
</div>