/* ********** PRODUCTS ********** */

.product-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px 16px;
    line-height: 1.2;
}

.product-box {
    width: 100%;
    min-width: 200px;
    border: 1px solid #87ACB0;
    border-radius: 4px;
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Product-img */
.product-img {
    aspect-ratio: 2 / 3;
    margin-bottom: 12px;
}

    .product-img img {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #87ACB0;
        vertical-align: bottom;
        object-fit: cover;
    }

/* Product-info */
.product-info {
    padding: 0 12px;
    margin-bottom: 24px;
}

.product-name {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

    .product-name a {
        color: #87ACB0;
        text-decoration: none;
    }

.product-type {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 4px;
}

.product-size {
    font-size: 16px;
    margin-bottom: 12px;
}

.product-price {
    font-size: 20px;
    font-weight: 400;
}

/* Product-btns */
.product-btns {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12px;
    margin-bottom: 16px;
}

.add-to-wishlist-btn {
    background-color: #DFF2F2;
    border-color: #87ACB0;
    width: 100%;
}

    .add-to-wishlist-btn:hover {
        background-color: #6dd6d6;
    }

.edit-btn {
    background-color: #C1E8E8;
    border-color: #87ACB0;
    width: 40%;
}

    .edit-btn:hover {
        background-color: #20B2AA;
    }

.delete-btn {
    background-color: #FFCCCB;
    border-color: #C08497;
    width: 40%;
}

    .delete-btn:hover {
        background-color: #FF0000;
    }

/* ********** WISHLIST COLORS ********** */
.wishlist .product-box {
    border-color: #C08497;
}

.wishlist .product-img img {
    border-color: #C08497;
}

.wishlist .product-name a {
    color: #C08497;
}


/* ********** FILTER ********** */
.filter-section {
    margin: 0 0 30px 0;
}

.filter-form {
    font-size: 0;
}

label {
    font-size: 18px;
    margin-right: 4px;
}

.form-group {
    display: inline-block;
}

    .form-group:not(:last-child) {
        margin: 0 20px 10px 0;
    }

.search-btn {
    cursor: pointer;
    padding: 4px 6px;
}
    .search-btn:hover {
        background-color: #F0F0F0;
    }

input, textarea, select {
    font-size: 16px;
    padding: 4px;
    background-color: #f7f7f7;
    border: 1.4px solid black;
    border-radius: 4px;
}


/* ********** PAGINATION ********** */
.pagination-section {
    margin: 0 0 30px 0;
}

.pagination {
    min-width: 350px;
    max-width: 500px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.btn-arrow, .page-number {
    font-size: 24px;
    color: #808080;
    text-decoration: none;
}

    .btn-arrow:hover, .page-number:hover {
        color: #6b6b6b;
    }

.page-number {
    padding: 2px;
}

    .page-number:not(:last-child) {
        margin: 0 7px 0 0;
    }

.link-disabled {
    color: #adadad;
    pointer-events: none;
}

.current-page {
    color: #6b6b6b;
    text-decoration: underline;
}


@media screen and (max-width: 950px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 700px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 465px) {
    .product-list {
        grid-template-columns: none;
    }
}
