@model OrderStatusFormModel

@using Microsoft.AspNetCore.Identity;
@using BestArts.Data.Models
@using BestArts.Services.Data.Interfaces
@using BestArts.Web.Infrastructure.Extensions


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@using static BestArts.Common.GeneralApplicationConstants;

@{
    ViewData["Title"] = "Update Order Status";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_checkout.css" asp-append-version="true" />
}

<div class="content-wrap checkout">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <div>Old Status:</div>
</div>