@model OrderStatusFormModel



@using static BestArts.Common.GeneralApplicationConstants;

@{
    ViewData["Title"] = "Update Order Status";
}

@section css {
    <link rel="stylesheet" href="~/css/styles_checkout.css" asp-append-version="true" />
}

<div class="content-wrap checkout">
    <h2 class="page-title divider">@ViewData["Title"]</h2>

    <div>Old Status:</div>
</div>